$topbar-background:#e2e2e2;
$topbar-box-shadow: 0px 0px 2px 1px #c2c2c2;
$body-background:rgba(252,252,252,1);
$color:#000;
$hover-background:rgba(0,0,0,.5);
$hover-color:#fff;
$left-toolbar-box-shadow:0px 4px 1px 1px rgba(249,249,249,1);

    