@import 'customscroll-variables';
%customscroll{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    /* width */
    &::-webkit-scrollbar {
        width: $scrollbarWidth;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $scrollbarTrackColor; 
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $scrollbarThumbColor; 
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $scrollbarThumbHoverColor; 
    }
}