$id:searchboxinstance1;
$height:100%;
$width:100%;
$boxBackground:#FFF;
$filteredBoxBackground:#FFF;
$filteredBoxHoverBackground:#FFF;
$filteredBoxTextColor:#FFF;
$searchListBackground:#FFF;
$searchListHoverBackground:#FFF;
$filter_Badge_Background:#00aacd;
$filter_Badge_Text_Color:#FFF;
$padding:0;
$margin:0;