$layoutchildid:layoutchild;
$layoutchildbackground:#FFF;
$layoutchildwidth:100vw;
$layoutchildheight:100px;
$layoutchildposition:relative;
$layoutchildfloat:left;
$layoutchildpadding:0;
$layoutchildmargin:0;
$layoutchildborder:1px solid #CCC;