$id:collectioninstance1;
$width:100%;
$height:100vh;
$padding:0;
$margin:0;
$background:#F0F8FF;
$foreground:#636363;
$buttonwidth:70%;
$buttonbackground:#000000;
$buttonforeground:#FFFFFF;
$contentbackground:#FFFFFF;
$contentactivebackground:rgba(135,206,250, 0.3);
$contentforeground:#636363;
$contentitembackground:transparent;
$contentitemactivebackground:rgba(135,206,250, 0.5);
$contentitemtrashhoverbackground:#FF0000;
$newcollectioninputwidth:75%;
$hoverwidth:20%;
$hovershadow:2px 1px 2px #ccc;
$expandanimation:expand 500ms linear 0s 1;