$id:textinstance1;
$width:55%;
$height:45px;
$float:left;
$text-align:left;
$font-size: 15px;
$padding-top: 12px;
$font-weight: bold;
$detail-background:#FFFFFF;
$detail-border:1px solid rgba(0, 0, 0, 0.03);
$padding:0;
$margin:0;
$background:transparent;
$foreground:#FFF;