#row1column1 {
  position: relative;
  height: 45px;
  width: 25%;
  float: left; }

#row1column2 {
  position: relative;
  height: 45px;
  width: 50%;
  float: left; }

#row1column3 {
  position: relative;
  height: 45px;
  width: 25%;
  float: left; }

#row1column4 {
  position: relative;
  height: 45px;
  width: 5%;
  float: left; }

#row1 {
  position: relative;
  height: 45px;
  width: 100vw;
  float: left; }

#r2c1r1c1 {
  position: relative;
  height: 100vh;
  width: 25%;
  float: left; }

#r2c1r1c2 {
  position: relative;
  height: 100vh;
  width: 75%;
  float: left; }

#r2c1r1 {
  position: relative;
  height: 100vh;
  width: 100%;
  float: left; }

#row2column1 {
  position: relative;
  height: 100vh;
  width: 95%;
  float: left; }

#row2column2 {
  position: relative;
  height: 100vh;
  width: 25%;
  float: left; }

#row2column3 {
  position: relative;
  height: 100vh;
  width: 5%;
  float: left; }

#row2column4 {
  position: relative;
  height: 100vh;
  width: 25%;
  float: right; }

#row2 {
  position: relative;
  height: 45px;
  width: 100vw;
  float: left; }

#layout33 {
  color: #888;
  height: 100vh;
  width: 100vw; }
