@import 'row1-variables.scss';
@import 'row1column1.scss';
@import 'row1column2.scss';
@import 'row1column3.scss';
@import 'row1column4.scss';
##{$row1id}{
position:$row1position;
height:$row1height;
width:$row1width;
float:$row1float;
}