<div data-bind="attr:{'id': instance}">
    <div class="toggle-menu">
        <div class="toggle-menu-btn" data-bind="click: toggle">
            <i class="fa fa-bars"></i>
        </div>

        <!-- ko if: designerMode -->
        <div class="config" data-bind="with: configuration">

            <div class="conf-header"> 
                <span class="conf-title">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <b>Configuration Panel</b>
                </span>
                <span data-bind="clickBubble: false, click: $parent.closeConfigurationPanel" class="conf-action conf-close" title="Close">
                    <i class="fa fa-close"></i>
                </span>
                <span data-bind="clickBubble: false, click: $parent.save" class="conf-action conf-save" title="Save">
                    <i class="fa fa-floppy-o"></i>
                </span>
                <span data-bind="clickBubble: false, click: $parent.resetConfiguration" class="conf-action conf-reset" title="Reset">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </span>
            </div>
            <div class="conf-body">

                <div class="row body-row">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="conf-title">Talk to component :</div>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                        <div data-bind="with: talkToComponentDefinition">
                            <div class="row row-conf-row">
                                <div class="row col-conf-subrow">
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <div class="sub-row-title">Instance ID : </div>
                                    </div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                        <div class="sub-row-input">
                                            <input data-bind="textInput: instanceId" type="text" placeholder="instance id">
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-conf-subrow">
                                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <div class="sub-row-title">Component Name : </div>
                                    </div>
                                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                        <div class="sub-row-input">
                                            <input data-bind="textInput: component" type="text" placeholder="component">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                

                <div class="row body-row">
                    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <div class="conf-title">Width control :</div>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                        <div class="row row-conf-row">
                            <div class="row col-conf-subrow">
                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <div class="sub-row-title">On Collapse (%) : </div>
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                    <div class="sub-row-input">
                                        <input data-bind="textInput: componentWidthMinimum" type="text" placeholder="instance id">
                                    </div>
                                </div>
                            </div>
                            <div class="row col-conf-subrow">
                                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                    <div class="sub-row-title">On Expand (%) : </div>
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                    <div class="sub-row-input">
                                        <input data-bind="textInput: componentWidthMaximum" type="text" placeholder="component">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
