$id:articlelistinstance1;
$height:100%;
$width:100%;
$background:#FFFFFF;
$border:1px solid rgba(0, 0, 0, 0.03);
$griditemhoverbackgroundcolor:rgba(99,177,117, 0.9);
$griditemhovertextcolor:#FFFFFF;
$padding:5px 10px 5px 10px;
$margin:0;
$checkboxcolor:#9ACD32;
$griditemcount:5;
$headertitlebackgroundcolor:#FFF;
$headertitletextcolor: #777;
$headertitlefontsize: 16px;
$headertitleborderradius: 15px;